<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Médiateque</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">Médiatèque</h3> 
      <div class="columns medium-5" v-for="post in posts">
        <div class="card">
          <div class="card-divider">
            {{ post.email }}
          </div>
          <div class="card-section">
            <p>{{ post.id }}.</p>
          </div>
        </div>
      </div>
      <hr>
      <button class="button" style="display:block;margin:auto;" @click="getPostsViaREST">Display users</button>
      <button class="button" style="display:block;margin:auto;" @click="postViaREST">Post a user</button>
    </div>
  </body>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          posts: [
            {email: "User", id: "Identifiant"}
          ]
        },
        methods: {
          getPostsViaREST: function() {
            axios.get("https://jsonplaceholder.typicode.com/posts")
            //axios.get("localhost/triquack/api/v1/user/users")
              .then(response => {this.posts = response.data})
          },
          postViaREST: function() {
            axios.post('localhost/triquack/api/v1/user/create', { email: 'mail@mail.fr', password: 'AAAAAAAA' })
              .then(response => console.log('saved successfully'))
          }
        }
      });    
    </script>
</html>
